#block{
	background: #ed5353;
	text-align: center;
	color: white;
}
.cityInfo{
		background: #ed5353;
	text-align: center;
	color: white;
}
#blockTable{
		background: black;
	text-align: center;
	color: white;
	margin-left: 42%;
}